
<a href="/Logout" style="float: right; margin-bottom: 10px;">Logout</a>
<a href="/dashboardbutton" style="float:right; padding-right:25px">Bright Idea</a>


<p>Name: @ViewBag.usersprofile.FirstName</p>
<p>Alias: @ViewBag.usersprofile.LastName</p>
<p>Email: @ViewBag.usersprofile.Email</p>
<p>Total number of Posts: @ViewBag.usersprofile.userpostidealist.Count</p>
<p>Total Number Of Likes: @ViewBag.usersprofile.userlikeidealist.Count</p>

